.navigation {
  width: 80%;
  margin-left: 10%;
  font-family: 'Archivo', sans-serif;
  margin-top: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.main-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  width: 100%; }
  .main-card p {
    margin: 0;
    cursor: pointer;
    background-color: #2195f3;
    border: black 1px solid;
    border-bottom: 0;
    width: 20%;
    padding: 2%;
    text-align: center;
    border-radius: 10px 10px 0 0;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; }
    .main-card p i {
      font-size: 1.5vw; }
    .main-card p:hover {
      height: 60px;
      background-color: #2979FF;
      color: #eaeaff; }

.navigation-skills-style {
  cursor: pointer;
  background-color: #2195f3;
  border: black 1px solid;
  border-bottom: 0;
  padding: 2%;
  width: 20%;
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; }
  .navigation-skills-style:hover {
    background-color: #2979FF;
    color: #eaeaff;
    height: 60px; }
