//For the main and first use

.navigation {
    width: 80%;
    margin-left: 10%;
    font-family: 'Archivo', sans-serif;
    margin-top: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-card {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    width: 100%;
    p{
        cursor: pointer;
        background-color: rgb(33, 149, 243);
        border: black 1px solid;
        border-bottom: 0;
        width: 20%;
        padding: 2%;
        text-align: center;
        border-radius: 10px 10px 0 0 ;
        font-size: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        i{
            font-size: 1.5vw;
        }
        &:hover{
            height: 60px;
            background-color: #2979FF;
            color: rgb(234, 234, 255);
        }
    }
}

//For the script.js file

.navigation-skills-style{
    cursor: pointer;
    background-color:rgb(33, 149, 243);
    border: black 1px solid;
    border-bottom: 0;
    padding: 2%;
    width: 20%;
    text-align: center;
    border-radius: 10px 10px 0 0 ;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    &:hover{
        background-color: #2979FF;
        color: rgb(234, 234, 255);
        height: 60px;
    }
};