* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(../pictures/bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: top;
    
  background-attachment: fixed;
    font-family: var(--main-font-family);
    
}

:root {
    --main-background-color:  rgba(166, 197, 223, 0.801);
    --section1-background-color: rgb(150, 180, 235);
    --name-color: rgb(204, 222, 255);
    --main-font-family: 'Gentium Basic', serif;
}