* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background-color);
}

:root {
    --main-background-color:  rgb(130, 138, 255);
    --section1-background-color: rgb(150, 180, 235);
    --name-color: rgb(204, 222, 255);
}