@import "reset";
@import "telephone";
@import "desktop";

.head {
    h1 {
        text-align: center;
        width: 100%;
        font-weight: bold;
        font-family: 'Satisfy', cursive;
        font-style: italic;
        color: rgb(174, 229, 255);
        background-color: rgba(21, 101, 192, 0.700);
    }
    .languages-menu {
        display: flex;
        .menu-simbol {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: rgba(128, 128, 128, 0.616);
            padding: 0 1%;
            border: black 1px solid;
            border-radius: 15px;
            &:hover {
                background-color: rgb(128, 128, 128);
            }
        }
        
        .flag {
            background-color: rgba(128, 128, 128, 0.384);
            border: black 1px solid;
            width: 125%;
            display: flex;
            align-items: center;
            border-radius: 0 15px 15px 0;
            height: 100%;
            a {
                text-decoration: none;
                display: flex;
                padding: 0 3%;
                border-radius: 25px;
            }   
        }
    }  
}

.name {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    .name-surname {
        background-color: rgb(21, 101, 192);
        letter-spacing: 2px;
        text-align: center;
        padding: 1%;
        p{
            color: #BBDEFB;
            font-variant: small-caps;
        }
    }
    .contact-info{
        padding: 3%;
        display: flex;
        justify-content: center;

        .my-profile-photo{
            width: 50%;
            display: flex;
            justify-content: center;
        }

        .contact-items{
            display: flex;
            table {
                tr {
                    height: 1vh;
                    & {
                        :nth-child(1) {
                            text-align: center;
                        }
                        :nth-child(2) {
                            background-color: rgba(33, 149, 243, 0.850);
                            padding-left: 5px;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }   
    }
    .social-media {
        padding: 2%;
        background-color: rgba(21, 101, 192, 0.700);
        border-radius: 10px;
        ul {
            display:flex;
            justify-content: center;
            align-items: center;
            flex-flow: row ;
            li {
                list-style: none;    
                a {
                    display: block;
                    text-align: center;
                    margin:0 10px;
                    border-radius: 5px;
                    box-sizing: border-box;
                    text-decoration:none;
                    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
                    background: linear-gradient(0deg, #ddd, #fff);
                    transition: .5s;                    
    
                    &:hover {
                        box-shadow: 0 2px 5px rgba(255, 0, 0, 0.548);
                    }
    
                    .fa {
                        
                        width: 100%;
                        height: 100%;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        background: linear-gradient(0deg, #fff, #ddd);
                        border-radius: 5px;
                        line-height: calc(60px - 12px);
                        color: #7894b4;
                        transition: .5s;
                    }
                }
            }
        }
    
        ul li:nth-child(1) a:hover .fa {
            color: #3b5998;
        }
        
        ul li:nth-child(2) a:hover .fa {
            color: #00aced;
        }
        
        ul li:nth-child(3) a:hover .fa {
            color: rgb(245, 98, 0);
        }
        
        ul li:nth-child(4) a:hover .fa {
            color: rgb(200, 28, 206);
        }
    }      
}


    .personal-information-items {

        .skill-titles{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            text-align: center;
            padding: 3%;
            background-color: rgb(21, 101, 192);
            .digital-skills-title, .foreign-languages-title{
                padding-left: 10%;
                font-size: 2vw;
                font-weight: bold;
            }
        }

        .skill-tables {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;      
            margin: 3% 0;

            .digital-skills {

                ul{
                display: flex;
                flex-wrap: wrap;

                    li {
                        padding: 2% 0;
                        list-style: none;
                        flex: 0 0 33.33333333%;
                        text-align: center;
            
                        img{
                            width: 4vw;
                        }
                    }
                }
            }
                
            .languages-items {

                tr {
                    font-size: 1.3vw;
                    
                    td{
                        
                    padding: 2% 0;
                        span{
                            font-size: 0.7vw;
                        }
                    }

                    & {
                        :nth-child(1){
                            vertical-align: middle;
                            text-align: left;
                        }

                        :nth-child(2){
                            padding-left: 10px;

                            .dot {
                                vertical-align: middle;
                                height: 2.5vw;
                                width: 2.5vw;
                                background-color: #bbb;
                                border-radius: 50%;
                                display: inline-block;
                            }

                            .dot-green {
                                background-color: rgb(152, 230, 152);
                            } 

                            .dot-red {
                                background-color: rgb(230, 152, 152);
                            }
                        }
                    }
                }
            }
        }
    }


.section2 {
    margin-bottom: 10%;
    background-color: rgba(25, 118, 210, 0.801);
    border: 1px solid black;
    border-collapse: collapse;

    a {
        text-decoration: none;
        color: black;
    
        &:hover {
        border-bottom-style: solid;
        color: rgb(255, 0, 0);
        }
    }
}

.table1 {
    width: 100%;
    padding: 0 5%;
    border-radius: 15px;
    tr {
        line-height: 2;
    }
}
.location {
    display: flex;
    flex-flow: column nowrap;    
    justify-content: center;
    align-content: center;
    transform: rotateY(180deg);
    width: 100%;
    border-radius: 15px;

    h3 {
        font-weight: lighter;
    }
}

.table-container {
    padding: 5% 0;
    position: relative;
    border-bottom: black solid 2px;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.486);
    border-radius: 15px;

    &:last-child{
        border: 0;
    }
}
.full-table-container{ 
    background-color: transparent;
    perspective: 1000px;
}

.full-table-container:hover .table-container{
    transform: rotateY(180deg);
}

.table1, .location {
    backface-visibility: hidden;
    position: absolute;
    background-image: radial-gradient(#BBDEFB, #42A5F5 );
    top: 0;
    height: 100%;
    padding: 0 2%;
}


.hidden{
    display: none;
}