@import "reset";

#full-container {
    display: flex;
    flex-flow: row-reverse;
    min-width: 310px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    background-color: rgb(204, 222, 255);
}

.name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    background-color: rgb(152, 186, 248);

    h1 {
        padding-left: 10%;
    }
    img {
        background: #fff;
        box-shadow: 5px 5px 0 0  rgba(0, 0, 0, .3);
        width: 30%;
        max-width: 220px;
        margin: 10px;
    }
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 50px;
}

h2 {
    font-size: 20px;
    margin-bottom: 6px;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
    border-bottom-style: solid;
    color: rgb(255, 0, 0);
    }
}

.section1 {
    display: block;
    position: fixed;
    width: 35%;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgb(141, 175, 238);
    right: 10px;

    h2 {
        text-align: center;
    }
}

.section2 {
    margin-top: 10px;
    padding-top: 10px;
    display: block;
    margin-right: 40%;
    width: auto;
}

.dl1 {
    background-color: rgb(243, 223, 194);
}

.dl2 {
    background-color: rgb(194, 243, 196) ;
}

.dl3 {
    background-color: rgb(236, 243, 194);
}

.table2 {
    width: 100%;
    margin-left: 20px;
    font-size: 20px;
    tr {
        & {
            :nth-child(1) {
                text-align: center;
            }
            :nth-child(2) {
                padding-left: 5px;
            }
        }
    }
    .span1 {
        color: rgb(56, 56, 56);
        border-bottom: 2px dotted  rgb(104, 104, 104);
    }
}

.table3 {
    margin-left: 20px;
    font-size: 20px;
    tr {
        & {
            :nth-child(1){
                text-align: center;
                font-weight: bold;
            }
            :nth-child(2){
                padding-left: 5px;
                
            }
        }
    }
}
    
dt {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    padding-right: 26px;
    width: 200px;
    border-right: 1px solid #999;
}

dl {
    width: 100%;
    padding-left: 26px;
    display: table-row;
    dt, dd {
    display: table-cell;
    padding-bottom: 20px;
    }
}

dd {
    width: 100%;
    padding-left: 26px;
    }

.table1 {
    width: 600px;
    tr {
        & {

            :nth-child(1){
                text-align: left;
                font-weight: bold;
            }
            :nth-child(2) {
                text-align: start;
                padding: 0 10px;
                text-decoration: underline;
                font-style: italic;
            }   
            :nth-child(3) {
                text-align: right;
            }
        }    
    }
}

.table-container {
    border-bottom: black solid 1px;
    width: 100%;
}

.info-container {
    border-bottom: black dotted 5px;
   
}

    
    