@import "reset";
@import "font-face";
@import "mixin";


#full-container {
    display: flex;
    color: #000;
    line-height: 1.5;  
}

.head {
    display: flex;
    
    h1 {
        font-weight: bold;
    }
    .flag {
        display: flex;
        flex-flow: row nowrap; 
        a {
            text-decoration: none;
        }   
    }
}

.section1 {
    background-color: var(--section1-background-color);    
    h2 {
        text-align: center;
    }
}

.name, 
.table2,
dl,
dd, 
.table1,
.table-container {
    width: 100%;
}

.name {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    background-color: var(--name-color);

    .h1 {
        line-height: 100%;
        letter-spacing: 2px;
    }

    img {
        width: 30%;
        max-width: 220px;
        margin: 10px;
        border: 10px solid transparent; 
        background-color: var(--name-color);
        border-image: url(../pictures/border.png) round;
        border-image-slice: 10%;
    }
}

.table2 {
    tr {
        & {
            :nth-child(1) {
                text-align: center;
            }
            :nth-child(2) {
                padding-left: 5px;
            }
        }
    }
    
    .span1 {
        color: rgb(56, 56, 56);
        border-bottom: 2px dotted  rgb(104, 104, 104);
    }
}

.table3 {
    tr {
        & {
            :nth-child(1){
                text-align: left;
                font-weight: bold;
            }
            :nth-child(2){
                padding-left: 5px;
                
            }
        }
    }
}
.social-media {
    background: var(--section1-background-color);

    ul {
        margin:0;
        padding:0;
        display:flex;
        justify-content: center;

        li {
            list-style: none;

            a {
                display: block;
                text-align: center;
                margin:0 10px;
                border-radius: 50%;
                box-sizing: border-box;
                text-decoration:none;
                box-shadow: 0 10px 15px rgba(0,0,0,0.3);
                background: linear-gradient(0deg, #ddd, #fff);
                transition: .5s;

                &:hover {
                    box-shadow: 0 2px 5px rgb(255, 0, 0);
                }

                .fa {
                    width: 100%;
                    height:100%;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(0deg, #fff, #ddd);
                    border-radius: 50%;
                    line-height: calc(60px - 12px);
                    color: #7894b4;
                    transition: .5s;
                }
            }
        }
    }

    ul li:nth-child(1) a:hover .fa {
        color: #3b5998;
      }
      
    ul li:nth-child(2) a:hover .fa {
        color: #00aced;
      }
    
    ul li:nth-child(3) a:hover .fa {
        color: rgb(245, 98, 0);
    }
    
    ul li:nth-child(4) a:hover .fa {
        color: rgb(200, 28, 206);
    }
}  

.digital-skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    img {
        width: auto;
    }
}

.section2 {
    margin-bottom: 20px;

    a {
        text-decoration: none;
        color: black;
    
        &:hover {
        border-bottom-style: solid;
        color: rgb(255, 0, 0);
        }
    }
  
}

dt {
    font-weight: bold;
    text-align: right;
    width: 20%;
    border-right: 1px solid #999;
}

dl {
    display: table-row;
    background-color: white;
    dt, dd {
    display: table-cell;
    padding-bottom: 2%;
    }
}

.table1 {
    tr {
        padding: 5% 0;

        & {
            :nth-child(1) {
                width: 25%;
                text-align: left;
                font-weight: bold;
            }
            :nth-child(2) {
                width: 60%;
                text-align: start;
                text-decoration: underline;
                font-style: italic;
            }
            :nth-child(3) {
                width: 15%;
                text-align: center;
            }
       }
    }
}

.table-container {
    border-bottom: black solid 1px;

    h3 {
        font-weight: lighter;
    }
}

.info-container {
    border-bottom: black dotted 5px; 
}  

.last-info-container {
  border: hidden;
}


/*//////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////*/


@include isDesktop {
    #full-container {
        flex-flow: row-reverse;
        min-width: 310px;   
        justify-content: space-between;
        margin: 0 1%;
    }

    .head {
        
        h1 {
            width: 55%;
            margin: 2vw;
            text-align: right;
            font-size: 3vw;
        }
            
        .flag {
            justify-content: flex-end;
            width: 45%;
            img {
                margin: 2vw 1vw 2vw 0vw;
                width: 2vw;
                height: 2vw;
            }
        }
    }
    
    .section1 {
        display: flex;
        position: fixed;
        right: 1%;
        overflow-y: scroll;
        overflow-x: hidden;
        flex-flow: column nowrap;
        padding: 10px;
        margin-left: 2%;
        width: 34%;
        height: 80vh;

        h2 {
            font-size: 1.7vw;
        }

        &::-webkit-scrollbar {
            width: 10px;
          }

        &::-webkit-scrollbar-track {
            background: rgb(109, 109, 109); 
          }
        
        &::-webkit-scrollbar-thumb {
            background: rgb(32, 32, 138); 

            &:hover {
                background: rgb(100, 89, 255); 
            }    
        }
    }

    .h1 { 
        font-size: 3vw;
        padding-left: 10%;
    }

    .table2 {
        
        
        tr {
            font-size: 1.3vw;
            line-height: 1vw;
            height: 1vh;

            td {
                padding: 2% 0;
            }
        }
    }

    .table3 {
        display: flex;
        margin-left: 1.7%;
        tr {
            font-size: 1.3vw;
            line-height: 1.5;
            height: 1vh;
            
            td {
                padding: 2% 0;
            }
        }
    }

    .social-media {
        ul {
            li {
                a {
                    width: 3vw;
                    height: 3vw;

                    .fa {
                        font-size: 1.5vw;
                    }
                }
            }
        }
    }

    .digital-skills {

        img {
            height: 4vw;
            margin: 0 2vw 2vw 2vw;
        }
    }

    .objective {
        font-size: 1.3vw;
    }

    .section2 {
        display: block;
        width: 64%;
    }
        
    dt {
        font-size: 1.75vw;
        padding-right: 1%;
    }

    dd {
        padding-left: 26px;
        }

    .table1 {

        tr {
            font-size: 1.3vw;   
        }
    }

    .table-container {

        h2{
            font-size: 1.7vw;
        }
        h3 {
            font-size: 1.5vw;
        }
    }

}


/*//////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////*/


@include isTelephone {
    
    #full-container {
        flex-flow: column wrap;
    }

    .head {
        flex-flow: column wrap;
        width: 100%;
        h1 {
            text-align: center;
        }
        .flag {
            justify-content: space-between;
            margin-left: 2%;
            width: 100%;
            img {
                width: 6vw;
                height: 6vw;
            }
        }
    }

    .section1 {
        margin: 0 2%;
        width: 100%;

        h2 {
            font-size: 6vw;
        }
    }

    .name {
    
        .h1 {
            padding-left: 10%;
            font-size: 8vw;
            display: flex;
            justify-content: center;
            flex-flow: column wrap;
            align-content: center;
            padding-left: 20%;
        }
    }

    .table2 {
        padding-left: 3%;
        
        tr {
            font-size: 5vw;
            td {
                padding: 2vw 0;
            }
    
            & {
                :nth-child(1) {
                    line-height: 5.5vw;
                }
            }
        }
    }

    .table3 {
        width: 100%;
        margin-left: 3%;
        tr {
            font-size: 4.5vw;
            
            td {
                padding: 2vw 0;
            }
        }
    }

    .social-media {
        ul {
            li {
                a {
                    width: 8vw;
                    height: 8vw;
                    margin-bottom: 3vw;;

                    .fa {
                        font-size: 5vw;
                    }
                }
            }
        }
    }

    .digital-skills {
        margin: 0 15%;
        
        img {
            height: 8vw;
            margin: 0 3vw 3vw 3vw;
        }
    }

    .section2 {
        margin: 0 2%;
        width: 100%;
    }   

    dt {
        font-size: 4vw;
        padding-right: 2%;
    }
    
    dd {
        padding-left: 2%;
        }
    
    .table1 {
    
        tr {
            font-size: 3vw;
           
            & {
    
                :nth-child(1) {
                    line-height: 3vw;
                }
    
                :nth-child(2) {
                    line-height: 3.5vw;
                }
            }    
        }
    }
    
    .table-container {
        h2 {
            font-size: 3.5vw;
        }
        h3 {
            font-size: 3vw;
        }
    }

}


